<p-toast></p-toast>

<div class="p-grid">
    <div class="p-col">
        <div #target style="width: 800px; height: 600px;">
            <div #myGraph class="cy"></div>
        </div>
    </div>
    <div class="p-col">
        <div class="p-grid p-dir-col">
            <div class="p-col">
                <button pButton type="button" label="Add node" (click)="addNode($event)"></button><input type="text"
                    pInputText [(ngModel)]="name" />
            </div>
            <div *ngIf="selected" class="p-col">
                <p>tags</p><button pButton *ngFor="let tag of tags" type="button" label="{{tag.name}}"
                    (click)="addTagToNode($event, tag, selected)"><i class="pi pi-plus"></i></button>
            </div>
            <div *ngIf="selected" class="p-col">
                <p>tagged</p><button pButton *ngFor="let tag of selected.tags" type="button" label="{{tag.name}}"
                    (click)="deleteTagToNode($event, tag, selected)"><i class="pi pi-trash"></i></button>
            </div>
            <div *ngIf="selected" class="p-col">
                <p>input</p><button pButton *ngFor="let edge of selected.sources" type="button" label="{{edge.name}}"
                    (click)="deleteEdge($event, selected, edge.id)"><i class="pi pi-trash"></i></button>
            </div>
            <div *ngIf="selected" class="p-col">
                <p>output</p><button pButton *ngFor="let edge of selected.targets" type="button" label="{{edge.name}}"
                    (click)="deleteEdge($event, selected, edge.id)"><i class="pi pi-trash"></i></button>
            </div>
            <div class="p-col">
                <pre *ngIf="selected">{{selected | json}}</pre>
            </div>
        </div>
    </div>
</div>